<!DOCTYPE html>
<html>
    <head>
        <title>My Bird Application</title>
    </head>
    <body background="./static/wall1.jpg" style="background-position: center" >
        <div style="text-align:center">
            <h1 style="color:white"> Upload your bird image !</h1>
            <img src="../static/Wall_img.jpg" alt="Cover pic" height="250" width="300">
            <form method="post" enctype=multipart/form-data style="margin:30px;color:white">
                <input type="file" name="file"><br><br>
                <input type="submit" value="upload">
            </form>

            
            <h5><span style="color:white">Made With Love by :</span> Ayush Dhanai | Akhil Tiwari</h5>
            <h5><span style="color:white">Slack Id ::</span> @Ayush Dhanai | @Akhil_Tiwari</h5>
        </div>
    </body>
</html>